<p><%= link_to user.email, user %>
<% unless Friendship.find_by_userA_id_and_userB_id(current_user.id, user.id) || current_user == user  %>
| <%= link_to "Dodaj znajomego", friendships_path(friend_id: user), method: :post %>
<% end %></p>