<p><%= link_to user.email, user %>
<% if has_invitation?(user) %>
  | <%= link_to "Akceptuj zaproszenie", friendships_path(friend_id: user), method: :post %>
<% elsif can_be_added?(user) %>
  | <%= link_to "Dodaj znajomego", friendships_path(friend_id: user), method: :post %>
<% end %> <% if current_user.admin? || user == current_user %> | <%= link_to "Edytuj", edit_user_path(user) %> <% end %></p>
